<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condition Statements</title>
</head>
<body>
    {% if online == true %}
    <p>The website is live</p>
    {% else %}
    <p>The website is under maintanace. Please stand by while our website is live.</p>
    {% endif %}
    
    
    {% if(websiteScore > 1 and websiteScore < 40) %}
    <p>Website performance is poor and the score is: {{ websiteScore }}</p>
    {% elseif (websiteScore > 40 and websiteScore < 70) %}
    <p>Website score is fair but it can be improved by minifying libraries and the score is: {{ websiteScore }}</p>
    {% elseif (websiteScore > 70 and websiteScore < 100)  %}
    <p>The website performance is very good and the score is: {{ websiteScore }}</p>
    {% endif %}

    <h1>Product Name: {{ productDetails[0].pName }}</h1>
    <h1>Price: {{ productDetails[0].pPrice }}</h1>
    {% if(productDetails[0].stock < 1) %}
    <h2 style="color: red;">Out of Stock</h2>
    {% elseif (productDetails[0].stock > 1) %}
    <h2 style="color: green;">In Stock</h2>
    {% endif %}
</body>
</html>